.bg-img-home {
    background-image: url('https://media.valorant-api.com/maps/2fe4ed3a-450a-948b-6d6b-e89a78e680a9/listviewicontall.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}

// Ensure that the content inside the .bg-img-home is above the overlay
.bg-img-home > * {
    position: relative;
    z-index: 2;
}
